@model TaskToDo
<div>
    <h1>
        Task Name : @Model.TaskName
    </h1>
</div>

<div>
    <h1>
        Start Date : @Model.StartDate
    </h1>
</div>

<div>
    <h1>
        End Date : @Model.EndDate
    </h1>
</div>